{% extends "core/base1.html" %} {% load static %} {% block content %}

<!-- Dashboard Section start -->
<section class="dashboard-section body-collapse">
  <div class="overlay pt-120">
    <div class="container-fruid">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="section-content">
            {% comment %}
            <div class="acc-details">
              <div class="top-area">
                <div class="left-side">
                  <h5>Hi, {{kyc.full_name}}!</h5>
                  <h2>{{account.account_balance}}</h2>
                  <h5 class="receive">Last Received <span>$25,700.00</span></h5>
                </div>
                <div class="right-side">
                  <div class="right-top">
                    <select>
                      <option value="1">US Dollar</option>
                      <option value="2">US Dollar</option>
                      <option value="3">US Dollar</option>
                    </select>
                    <div class="dropdown-area">
                      <button
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <img
                          src="{% static 'assets/images/icon/option.png' %}"
                          alt="icon"
                        />
                      </button>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton1"
                      >
                        <li>
                          <a class="dropdown-item" href="#">Fiat Currency</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">crypto Currency</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="right-bottom">
                    <h4>$30,700.00</h4>
                    <h5>Payouts</h5>
                  </div>
                </div>
              </div>
              <div class="bottom-area">
                <div class="left-side">
                  <a href="pay.html" class="cmn-btn">Transfer Money</a>
                  <a href="deposit-money.html" class="cmn-btn">Add Money</a>
                  <a href="withdraw-money-step-1.html" class="cmn-btn"
                    >Withdraw</a
                  >
                </div>
                <div class="right-side">
                  <div class="dropdown-area">
                    <button
                      type="button"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <img
                        src="{% static 'assets/images/icon/option.png' %}"
                        alt="icon"
                      />
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                    >
                      <li>
                        <a class="dropdown-item" href="recipients.html"
                          >Recipients</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="receive-step-1.html"
                          >Request Money</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="pay-step-1.html"
                          >Send Money</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="pay-step-1.html"
                          >Bill Pay</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endcomment %}

            <div class="transactions-area">
              <div class="section-text">
                <h5>Transactions</h5>
                <p>Updated every several minutes</p>
              </div>
              <div
                class="top-area d-flex align-items-center justify-content-between"
              >
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="latest-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#latest"
                      type="button"
                      role="tab"
                      aria-controls="latest"
                      aria-selected="true"
                    >
                      Sent Transfers
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="upcoming-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#upcoming"
                      type="button"
                      role="tab"
                      aria-controls="upcoming"
                      aria-selected="false"
                    >
                      Received Transfers
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="request-sender-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#request-sender"
                      type="button"
                      role="tab"
                      aria-controls="request-sender"
                      aria-selected="false"
                    >
                     Sent Requests
                    </button>
                  </li>
                 
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="request-receiver-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#request-receiver"
                      type="button"
                      role="tab"
                      aria-controls="request-receiver"
                      aria-selected="false"
                    >
                      Received Requests
                    </button>
                  </li>
                 

                </ul>
                <div class="view-all d-flex align-items-center">
                  <a href="javascript:void(0)">View All</a>
                  <img
                    src="{% static 'assets/images/icon/right-arrow.png' %}"
                    alt="icon"
                  />
                </div>
              </div>
              <div class="tab-content mt-40">
                <div
                  class="tab-pane fade show active"
                  id="latest"
                  role="tabpanel"
                  aria-labelledby="latest-tab">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name/ Business</th>
                          <th scope="col">Date</th>
                          <th scope="col">Status</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for sender_transactions in sender_transaction %}
                        <tr
                          data-bs-toggle="modal"
                          data-bs-target="#transactionsMod"
                        >
                          <th scope="row">
                            <p>
                              {{sender_transactions.receiver.kyc.full_name}}
                            </p>
                            <p class="mdr">
                              {{sender_transactions.transaction_description}}
                            </p>
                          </th>
                          <td>
                            <p>
                              {{sender_transactions.transaction_time| time}}
                            </p>
                            <p class="mdr">
                              {{sender_transactions.transaction_time|date:"F, j Y"}}
                            </p>
                          </td>
                          <td>
                            <p class="{{sender_transactions.status}}">
                              {{sender_transactions.get_status_display}}
                            </p>
                          </td>
                          <td>
                            {% if sender_transactions.amount.amount > 0 and sender_transactions.status != 'processing'%}
                            <p style="color: red; font-weight:light;">-{{sender_transactions.amount}}</p>
                            {% else %}
                            <p>{{sender_transactions.amount}}</p>

                            {% endif %}
                           
                          </td>
                          <td>
                            <a href="{% url "transaction_detail" sender_transactions.transaction_id %}" class="btn btn-primary"><i class='fa-solid fa-eye'></i> view</a>

                          </td>
                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="upcoming"
                  role="tabpanel"
                  aria-labelledby="upcoming-tab"
                >
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name/ Business</th>
                          <th scope="col">Date</th>
                          <th scope="col">Status</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for receiver_transactions in receiver_transaction %}
                        <tr
                          data-bs-toggle="modal"
                          data-bs-target="#transactionsMod"
                        >
                          <th scope="row">
                            <p>
                             <a href="{% url "transaction_detail" receiver_transactions.transaction_id %}">{{receiver_transactions.receiver.kyc.full_name}}</a> 
                            </p>
                            <p class="mdr">
                              {{receiver_transactions.transaction_description}}
                            </p>
                          </th>
                          <td>
                            <p>
                              {{receiver_transactions.transaction_time| time}}
                            </p>
                            <p class="mdr">
                              {{receiver_transactions.transaction_time|date:"F, j Y"}}
                            </p>
                          </td>
                          <td>
                            <p class="{{receiver_transactions.status}}">
                              {{receiver_transactions.get_status_display}}
                            </p>
                          </td>
                          <td>
                            {% if receiver_transactions.amount.amount > 0%}
                            <p style="color: #49C96D">+{{receiver_transactions.amount}}</p>
                            {% else %}
                            <p>{{receiver_transactions.amount}}</p>

                            {% endif %}

                          </td>
                        </td>
                        <td>
                          <a href="{% url 'transaction_detail' receiver_transactions.transaction_id %}" class="btn btn-primary"><i class='fa-solid fa-eye'></i> view</a>

                        </td>
                        </tr>
                        {% endfor %}
                         
                        
                      </tbody>
                    </table>
                  </div>
                </div>

                <!--Rquest sent--> 
                <div
                  class="tab-pane fade"
                  id="request-sender"
                  role="tabpanel"
                  aria-labelledby="request-sender-tab"
                >
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name/ Business</th>
                          <th scope="col">Date </th>
                          <th scope="col">Status</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for transactions in request_sent_transaction %}
                        <tr
                          data-bs-toggle="modal"
                          data-bs-target="#transactionsMod"
                        >
                          <th scope="row">
                            <p>
                             <a href="{% url "request_transaction_detail" transactions.transaction_id %}">{{transactions.sender.kyc.full_name}}</a> 
                            </p>
                            <p class="mdr">
                              {{transactions.transaction_description}}
                            </p>
                          </th>
                          <td>
                            <p>
                              {{transactions.transaction_time| time}}
                            </p>
                            <p class="mdr">
                              {{transactions.transaction_time|date:"F, j Y"}}
                            </p>
                          </td>
                          <td>
                            {% if transactions.status == 'decline' %}
                            <p id='transaction-status' class="{{transactions.status}}" style="color: grey;">
                              {{transactions.get_status_display}}
                            {% else %}
                            <p id='transaction-status' class="{{transactions.status}}">
                              {{transactions.get_status_display}}
                            {% endif %}
                            
                            </p>
                          </td>
                          <td>
                            {% if transactions.amount.amount > 0 %}

                              {% if transactions.status == 'request_completed' %}
                              
                            <p id='transaction-amount' style="color:#49C96D">+{{transactions.amount}}</p>
                            {% elif transactions.status == 'decline'%}
                            <p id='transaction-amount' style="color:grey">{{transactions.amount}}</p>
                            {% else %}
                            <p id='transaction-amount'>{{transactions.amount}}</p>
                            {% endif %}
                             
                              {% else %}
                              <p id='transaction-amount'>{{transactions.amount}}</p>
                            {% endif %}
                           
                          </td>
                          <td>
                            {% if transactions.status == 'request_processing' %}
                            <a href="{% url "request_transaction_detail" transactions.transaction_id %}" class="btn btn-primary"><i class='fa-solid fa-eye'></i> view</a>
                            <a  href= "{% url "cancel_request"  transactions.transaction_id %}" class="btn btn-danger"><i class='fa-solid fa-delete-left'></i> cancel</a>
                            {% elif transactions.status == 'request_completed' %}
                            <a href="{% url "request_transaction_detail" transactions.transaction_id %}" class="btn btn-success"><i class='fa-solid fa-circle-check'></i>  credited</a>

                            {% else %}
                            <a href="{% url "request_transaction_detail" transactions.transaction_id %}" class="btn btn-primary"><i class='fa-solid fa-eye'></i> view</a>

                            {% endif %}
                            

                          </td>
                        </tr>
                        {% endfor %}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                </div>

                
                <!--REQEUST RECEIVED-->
                <div
                  class="tab-pane fade"
                  id="request-receiver"
                  role="tabpanel"
                  aria-labelledby="request-receiver-tab"
                >
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name/ Business</th>
                          <th scope="col">Date </th>
                          <th scope="col">Status</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for transactions in request_received_transaction %}
                        <tr
                          data-bs-toggle="modal"
                          data-bs-target="#transactionsMod"
                        >
                          <th scope="row">
                            <p>
                             <a href="{% url "request_transaction_detail" transactions.transaction_id %}">{{transactions.sender.kyc.full_name}}</a> 
                            </p>
                            <p class="mdr">
                              {{transactions.transaction_description}}
                            </p>
                          </th>
                          <td>
                            <p>
                              {{transactions.transaction_time| time}}
                            </p>
                            <p class="mdr">
                              {{transactions.transaction_time|date:"F, j Y"}}
                            </p>
                          </td>
                          <td>{% if transactions.status == 'decline' %}
                            <p id='transaction-status' class="{{transactions.status}}" style="color: grey;">{{transactions.get_status_display}}</p>
                            {% else %}
                            <p id='transaction-status' class="{{transactions.status}}">
                              {{transactions.status}}
                            </p>
                            {% endif %}
                            
                          </td>
                          <td>
                            {% if transactions.amount.amount > 0%}

                              {% if transactions.status == 'request_completed' %}
                              
                                <p id='transaction-amount' style="color:red">-{{transactions.amount}}</p>
                                {% elif transactions.status == 'decline'%}
                                <p id='transaction-amount' style="color:grey">{{transactions.amount}}</p>
                                {% else %}
                                <p id='transaction-amount'>{{transactions.amount}}</p>
                              {% endif %}
                              {% else %}
                              <p id='transaction-amount'>{{transactions.amount}}</p>
                            {% endif %}
                         
                          </td>
                          <td>
                            {% if transactions.status == 'request_processing' %}
                            <a href="{% url "accept_request" transactions.transaction_id %}" class="btn btn-primary"><i class='fa-solid fa-circle-check'></i>  accept</a>
                            <a href="{% url "decline_request"  transactions.transaction_id %}" class="btn btn-danger"><i class='fa-solid fa-delete-left'> </i>  decline</a>
                            {% elif transactions.status == 'request_completed' %}
                            <a href="{% url "request_transaction_detail" transactions.transaction_id %}" class="btn btn-success"><i class='fa-solid fa-circle-check'></i>  Paid</a>

                            {% else %}
                            <a href="{% url "request_transaction_detail" transactions.transaction_id %}" class="btn btn-primary"><i class='fa-solid fa-eye'></i>  view</a>

                            {% endif %}

                          </td>
                        </tr>
                        {% endfor %}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              <!--End-->
              </div>
              <script>
                document.addEventListener('DOMContentLoaded', function() {
                  // Get all elements with class 'transaction-status'
                  console.log('here')
                  let transactionStatusElements = document.querySelectorAll('#transaction-status');
                  //console.log(`transactionStatusElement: ${transactionStatusElements}`)
                  // Loop through each element
                  transactionStatusElements.forEach((element)=>{
                    // Get the value of the 'status' class
                    let amount = document.getElementById('transaction-amount')

                    let status = String(element.classList.value);
                    console.log(`status: ${status}`)
                    console.log(`type of status: ${typeof status}`)
                    // Set innerHTML based on status
                    switch(status){
                      case 'request_completed':
                        element.innerHTML= "Request Completed"
                        element.style.color = '#49C96D'
                        break;
                      case 'request_processing':
                        element.innerHTML= "Request Processing"
                        element.style.color = '#F7A94A'
                        console.log(element)

                        break;
                      case 'request_sent':
                        element.innerHTML= "Request Sent"
                        break;
                      case 'failed':
                        element.style.color =  'red';
                        element.innerHTML = 'Failed';
                        break;

                      default:
                        console.log('default')
                    }
                  });
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
<!-- Dashboard Section end -->

<!-- Card Popup start -->
<div class="card-popup">
  <div class="container-fruid">
    <div class="row">
      <div class="col-lg-6">
        <div class="modal fade" id="cardMod" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header justify-content-center">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
              <div class="main-content">
                <div class="top-area mb-40 mt-40 text-center">
                  <div class="card-area mb-30">
                    <img
                      src="{% static 'assets/images/visa-card-2.png' %}"
                      alt="image"
                    />
                  </div>
                  <div class="text-area">
                    <h5>Paylio payment Card</h5>
                    <p>Linked: 01 Jun 2021</p>
                  </div>
                </div>
                <div
                  class="tab-area d-flex align-items-center justify-content-between"
                >
                  <ul class="nav nav-tabs mb-30" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button
                        class="btn-link"
                        id="cancel-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#cancel"
                        type="button"
                        role="tab"
                        aria-controls="cancel"
                        aria-selected="false"
                      >
                        <img
                          src="{% static 'assets/images/icon/limit.png' %}"
                          alt="icon"
                        />
                        Set transfer limit
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="d-none"
                        id="limit-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#limit"
                        type="button"
                        role="tab"
                        aria-controls="limit"
                        aria-selected="true"
                      ></button>
                    </li>
                    <li>
                      <button>
                        <img
                          src="{% static 'assets/images/icon/remove.png' %}"
                          alt="icon"
                        />
                        Remove from Linked
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="tab-content mt-30">
                  <div
                    class="tab-pane fade show active"
                    id="limit"
                    role="tabpanel"
                    aria-labelledby="limit-tab"
                  >
                    <div class="bottom-area">
                      <p class="history">
                        Transaction History : <span>20</span>
                      </p>
                      <ul>
                        <li>
                          <p class="left">
                            <span>03:00 PM</span>
                            <span>17 Oct, 2020</span>
                          </p>
                          <p class="right">
                            <span>$160.48</span>
                            <span>Withdraw</span>
                          </p>
                        </li>
                        <li>
                          <p class="left">
                            <span>01:09 PM</span>
                            <span>15 Oct, 2021</span>
                          </p>
                          <p class="right">
                            <span>$106.58</span>
                            <span>Withdraw</span>
                          </p>
                        </li>
                        <li>
                          <p class="left">
                            <span>04:00 PM</span>
                            <span>12 Oct, 2020</span>
                          </p>
                          <p class="right">
                            <span>$176.58</span>
                            <span>Withdraw</span>
                          </p>
                        </li>
                        <li>
                          <p class="left">
                            <span>06:00 PM</span>
                            <span>25 Oct, 2020</span>
                          </p>
                          <p class="right">
                            <span>$167.85</span>
                            <span>Withdraw</span>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="cancel"
                    role="tabpanel"
                    aria-labelledby="cancel-tab"
                  >
                    <div class="main-area">
                      <div class="transfer-area">
                        <p>Set a transfer limit for paylio payment Card</p>
                        <p class="mdr">Transfer Limit</p>
                      </div>
                      <form action="#">
                        <div class="input-area">
                          <input
                            class="xxlr"
                            placeholder="400.00"
                            type="number"
                          />
                          <select>
                            <option value="1">USD</option>
                            <option value="2">USD</option>
                            <option value="3">USD</option>
                          </select>
                        </div>
                        <div
                          class="bottom-area d-flex align-items-center justify-content-between"
                        >
                          <a href="javascript:void(0)" class="cmn-btn cancel"
                            >Cancel and Back</a
                          >
                          <a href="javascript:void(0)" class="cmn-btn"
                            >Confirm Transfer Limit</a
                          >
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Card Popup start -->

<!-- Add Card Popup start -->
<div class="add-card">
  <div class="container-fruid">
    <div class="row">
      <div class="col-lg-6">
        <div class="modal fade" id="addcardMod" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header justify-content-between">
                <h6>Add Card</h6>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
              <form action="#">
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="single-input">
                      <label for="cardNumber">Card Number</label>
                      <input
                        type="text"
                        id="cardNumber"
                        placeholder="5890 - 6858 - 6332 - 9843"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="single-input">
                      <label for="cardHolder">Card Holder</label>
                      <input
                        type="text"
                        id="cardHolder"
                        placeholder="Alfred Davis"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="single-input">
                      <label for="month">Month</label>
                      <input type="text" id="month" placeholder="12" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="single-input">
                      <label for="year">Year</label>
                      <input type="text" id="year" placeholder="2025" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="btn-border w-100">
                      <button class="cmn-btn w-100">Add Card</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Card Popup start -->

{% comment %} <!-- Transactions Popup start -->
<div class="transactions-popup">
  <div class="container-fruid">
    <div class="row">
      <div class="col-lg-6">
        <div class="modal fade" id="transactionsMod" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header justify-content-between">
                <h5>Transaction Details</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
              <div class="main-content">
                <div class="row">
                  <div class="col-sm-5 text-center">
                    <div class="icon-area">
                      <img
                        src="{% static 'assets/images/icon/transaction-details-icon.png' %}"
                        alt="icon"
                      />
                    </div>
                    <div class="text-area">
                      <h6>{{sender_transactions.sender.full_name}}xxxx</h6>
                      <p>16 Jan 2022</p>
                      <h3>717.14 USD</h3>
                      <p class="com">Completed</p>
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="right-area">
                      <h6>Transaction Details</h6>
                      <ul class="payment-details">
                        <li>
                          <span>Payment Amount</span>
                          <span>718.64 USD</span>
                        </li>
                        <li>
                          <span>Fee</span>
                          <span>1.50 USD</span>
                        </li>
                        <li>
                          <span>Total Amount</span>
                          <span>717.14 USD</span>
                        </li>
                      </ul>
                      <ul class="payment-info">
                        <li>
                          <p>Payment From</p>
                          <span class="mdr">Envato Pty Ltd</span>
                        </li>
                        <li>
                          <p>Payment Description</p>
                          <span class="mdr"
                            >Envato Feb 2022 Member Payment</span
                          >
                        </li>
                        <li>
                          <p>Transaction ID:</p>
                          <span class="mdr">6559595979565959895559595</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<script src="{% static 'assets1/js/jquery.min.js' %}"></script>
<script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets1/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets1/js/plugin/apexcharts.js' %}"></script>
<!-- THIS JQUERY IMPORT WAS AFFECTING THE SMART SELECT FOR CITY-->
<script src="{% static 'assets1/js/plugin/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets1/js/plugin/waypoint.min.js' %}"></script>
<script src="{% static 'assets1/js/plugin/wow.min.js' %}"></script>
<script src="{% static 'assets1/js/plugin/plugin.js' %}"></script>
{% comment %} <script src="{% static 'assets1/js/main.js' %}"></script>  {% endcomment %}
<!-- Transactions Popup start -->
{% endblock content %}
<!--==================================================================-->
