{% extends "core/base.html" %} {% load static %} {% block content %}
<!-- Login Reg start -->
<section class="login-reg">
  <div class="overlay pt-120">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-6 order-xl-0 order-1">
          <div class="sec-img d-rtl">
            <img
              src="{% static 'assets/images/login-reg-bg.png' %}"
              class="max-un"
              alt="image"
            />
          </div>
        </div>
        <div class="col-xl-5">
          <div class="section-text text-center">
            <h5 class="sub-title">Account</h5>
            <h2 class="title">Log in to Continue</h2>
            <p class="dont-acc">
              Don’t have an account? <a href="{% url "register" %}">Sign up</a>
            </p>
            <div class="reg-google">
              <a href="javascript:void(0)"
                ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="20"
                preserveAspectRatio="xMidYMid"
                viewBox="0 0 256 262"
                id="google"
              >
                <path
                  fill="#4285F4"
                  d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                ></path>
                <path
                  fill="#34A853"
                  d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                ></path>
                <path
                  fill="#FBBC05"
                  d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                ></path>
                <path
                  fill="#EB4335"
                  d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                ></path></svg
              >oogle</a
              >
            </div>
            <span class="or">Or Continue With</span>
          </div>
          <form action={% url "loginUser" %} method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="single-input">
                  <label for="logemail">Email</label>
                  <input
                    type="text"
                    id="email"
                    name='email'
                    placeholder="Enter Your Email"
                    required
                  />
                </div>
                <div class="single-input">
                  <label for="password">Password</label>

                  <input
                    type="password"
                    id="password"
                    name='password'
                    for="password"
                    placeholder="Enter Your Password"
                    required
                  />
                  <input type="checkbox" onclick="togglePassword()"><span> show password</span>
                  
                </div>
                <button class="cmn-btn w-100">Login</button>
              </div>
            </div>
          </form>
          <div class="forgot-pass mt-30 text-center">
            <a href="javascript:void(0)">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    function togglePassword() {
        var password = document.getElementById("password")
        if (password.type == "password"){
            password.type = 'text';

        }
        else{
        password.type = 'password'
        }
    }
</script>
<!-- Login Reg end -->

{% endblock content %}
